.navbar {
	width: 100%;
    border-bottom: 1px solid #b9b9b9;
    height: 3rem;
    position: fixed;
    background-color: white;
    display: flex;
    margin: auto;
    z-index: 100;
}


.nav {
    list-style: none;
    width: 50%;
    /* border: 2px solid black; */
    margin: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0;
}

.logo{
    font-family: 'Clash Display', sans-serif;
}

.sidebar{
    padding: 0;
    align-items:center;
    font-size: 1.3rem;
    list-style: none;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: yellowgreen; */
}

.actions{
    display: flex;
    width: 50%;
    /* justify-content: space-between; */
    /* background-color: aqua; */
}


.icon{
    cursor: pointer;
    margin-right: 1rem;
    position: relative;
}

.badge{
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    top: -5px;
    right: -5px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
}

.Logout{
    border: 2px solid #dc143c;
    background-color: #ffd3dc;
    border-radius: 5px;
    cursor: pointer;
    /* border: none; */
    padding: .3rem;
    font-size: 1.3rem;
    color: #dc143c;
    display:flex;
    place-content: center;
}

.Logout:hover{
    background-color: crimson;
    color: #fff;
}

.home{
    cursor: pointer;
}

.navRight{
    display: flex;
}


.profilePic {
    background-color: greenyellow;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}