.container{
    height: max-content;
    /* height: max-content; */
    margin-top: .4rem;
    display: flex;
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
    max-height: 70vh;
   
}


.sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.heading{
    font-size: 1.3rem;
    text-transform: uppercase;
    /* text-align: center; */
    margin-left: 1.5rem;
    background-color: rgba(0, 0, 0, 0.12);
    padding: .5rem;
}


.FriendList{
    margin:0;
    margin-top: .5rem;
    padding-left: 1.5rem;
}


.nofriends{
    margin:auto;
    margin-top: 2rem;
    padding: 1.5rem;
}