.container{
    /* background-color: rgba(255, 204, 204, 0.411); */
    width: 50%;
    height: 100vh;
    margin-top: 3rem;
    position: fixed;
    /* right: 20rem; */
    /* right: 20rem; */
    /* left: 0; */
    display: flex;
    justify-content: flex-end;
    
   
}
/* 
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(185, 183, 183);
} */

.sidebar{
    width: 40%;
    /* background-color: rgb(255, 193, 193); */
    padding: 1rem;
    /* overflow-y: scroll; */
}

.profile{
    width: 3rem;
    height: 3rem;
    /* background-color: crimson; */
    border-radius: 100%;
}